.container {
    margin: 5rem auto;
    max-width: 80rem;
  }
  
  .table {
    border-radius: 1rem;
    border: 1rem hidden black;
    border-collapse: collapse;
    box-shadow: 0 0 0 1px black;
    overflow: hidden;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ff3333;
    padding: 0.5rem;
    line-height: 1.7;
    text-align: center;
  }
  td{
    font-weight: 600;
  }
  
  th {
    background-color: black;
    color: #fff;
  }

  .pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .pageItem {
    margin: 0 5px;
  }
  
  .pageLink {
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    transition: background-color 0.3s ease;
  }
  
  .pageLink:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .active .pageLink {
    background-color: #007bff;
    color: #fff;
  }
 
  
  @media only screen and (max-width: 1024px) {
    .container {
      margin: 2rem .8rem;
    }
    
    .table {
        border-radius: 0.5rem;
      margin: 0;
      max-width: 100%;
      overflow-x: auto;
    }
    th{
        font-size: 15px;
    }

    .pagination {
      flex-wrap: wrap;
    }
    
    .pageItem {
      margin: 5px 0;
    }
  }
  