.NavbarMain{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dashed black;
    background: #ff3333;
    padding-inline: 200px;
    padding-block: 8px;
}
.NavbarMain a img{
    height: 60px;
    width: auto;
    object-fit: contain;
    box-shadow: var(--box-shadow);
}

.NavbarMain .NavLinks{
    margin-top: 20px;
    display: flex;
  flex-wrap: wrap; /* Allow links to wrap */
  justify-content: center; 
}

.NavbarMain .NavLinks a{
    color: #fff;
    font-weight: 80px;
    margin-inline: 20px;
    border-radius: 999px;
    padding: 4px 13px;
}

.NavbarMain .NavLinks a:hover{
    background: #fff;
    color: #EF0000;
    
}
