.Btn{
    width: max-content;
    background: #ff3333;
    padding: 6px 16px;
    border-radius: 999px;
    font-weight: 800;
    color: white;
}
.Btn:hover{
    background: white;
    color: #ff3333;
    
}