.Btn{
    width: max-content;
    background: #EF0000;
    padding: 6px 16px;
    border-radius: 999px;
    font-weight: 800;
    color: white;
}
.Btn:hover{
    background: white;
    color: #EF0000;
    
}