.AddYourExperience_Main {
    padding-inline: 200px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.AddYourExperience_MainRow {

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding: 20px;
}

.AddYourExperience_MainRow h6 {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

.AddYourExperience_MainRow input, .AddYourExperience_MainRow textarea {
    display: block;
    background: none;
    width: 800px;
    border-bottom: 0.2px solid black;
    padding: 20px;
    font-weight: 800;
    color: #EF0000;
    margin-bottom: 10px;
}



.AddYourExperience_MainRow textarea{
    height: 10rem;
    resize: none;
}

.AddYourExperience_MainRow input ::placeholder, .AddYourExperience_MainRow textarea ::placeholder{
    color: #EF0000;

}

.AddYourExperience_MainRow .btn{
    width: 100%;
    background: #EF0000;
    color: black;
    font-weight: 800;
    padding: 8px 18px;
    border-radius: 999px;
    font-size: 17px;
    cursor: pointer;
}

.AddYourExperience_MainRow .btn:hover{
    background: #32de84;
    color: white;
}


@media (max-width: 768px) {
    .AddYourExperience_Main {
        padding-inline: 20px; /* Adjust as needed */
    }
    
    .AddYourExperience_MainRow {
        width: 100%;
    }
    
    .AddYourExperience_MainRow input,
    .AddYourExperience_MainRow textarea {
        width: 100%;
    }
}