.SpinnerParent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.Spinner{
    border: 5px solid #EF0000;
    border-top-color: white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    animation: Spin 0.4s linear infinite;
}

@keyframes Spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}