.CupesMain{
    padding-inline: 200px;
    margin-top: 50px;
}

.AddyourExp{
    
    font-weight: 800;
    color: white;
    font-size: 30px;
    background-color: black;
}
.AddyourExp:hover{
    background-color: #32de84;
    border-radius: 2p solid ;
    
    border-color: 5px solid #000000;
    color: white;
}


.CupesMain_Row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.CupesMain_Row .CupesBox{
    height: 600px;
    width: 100%;
    box-shadow: 5px 5px 15px -2px #000000;
    overflow: hidden;
}

.CupesBox img{
    height: 400px;
    width: 100%;
    object-fit: cover;

}

.CupesBoxContent{
    padding: 25px;
}

.CupesBoxContent h6{
    font-weight: 800;
    font-size: 20px;
}

.CupesBoxContent p{
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-block: 8px;
}

.CupesBoxContent .Btn{
   
    width:max-content;
    background: #ff3333;
    color: white;
    padding: 6px 6px;
    border-radius: 999px;
    font-weight: 800;
    
    
}

.CupesBoxContent .Btn:hover{
    background: white;
    color: #ff3333;
}